<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.sob.mapper.LoginMapper">
  
    <select id="getUserIdToGoogle" resultType="org.sob.domain.UserVO">
    select customerno, nick, googleid from customer where #{googleId}=googleid
    </select> 
    
    <select id="getUserIdToEmail" resultType="org.sob.domain.UserVO">
    select customerno, nick, googleid from customer where #{email}=id AND #{pw}=pw
    </select>  
    
    <insert id="joinUser">
    	insert into customer (nick, id, pw, googleid) values(#{nick}, #{id}, #{pw}, #{googleid})
    </insert>
    
    <select id="dupleCheck" resultType="org.sob.domain.JoinVO">
    	select id, pw, nick, googleid from customer where #{emailId}=id
    </select>
    
    <update id="modifyForEmailUser">
    update customer set googleid=#{googleid} where #{id}=id
    </update>
    
    <update id="modifyForGoogleUser">
    update customer set pw=#{pw} where #{id}=id
    </update>
    
    <delete id="deleteUser">
    	DELETE FROM `customer` WHERE  `customerno`=#{customerno}
    </delete>
	  
  </mapper>