<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.sob.mapper.MainMapper">
  <!-- 이하 수정 중 -->
	  <select id="getList" resultType="org.sob.domain.MainVO"><!-- 내가 포함된 유리병 목록 불러오기 -->	
	  <![CDATA[select * from bottlemain where `to` = #{userId} or #{userId} = 'to' group by groupId order by letterid;]]><!-- id부분 변경해야함. -->	
	  </select>
	  
	  <insert id="insert"><!-- 새글 등록 -->
	  	insert into bottlemain (`from`, `to`, cnt, `groupId`, `contents`,`categoryId`, `boast`) values(#{from}, #{to},#{cnt},#{groupId},#{contents},#{categoryId},#{boast})
	  </insert>
	  
	  <select id="read" resultType="org.sob.domain.MainVO"><!-- 내가 받은 편지 상세보기 -->
	  	select * from bottlemain where groupId = #{groupId} order by cnt
	  </select>
	  
	  <delete id="delete">
	  	delete from bottlemain where groupId = #{groupId}
	  
	  </delete>
	  
	  <select id="getListWithPaging" resultType="org.sob.domain.MainVO">
	 
	  <![CDATA[ select bno,title,writer,regdate,updatedate 
	  from (select rownum rn,bno,title,writer,regdate,updatedate 
	  from (select * from(select*from tbl_board order by bno desc)  
	  where ROWNUM<=#{pageNum}*#{amount}
	  ]]>	
	  <include refid="criteria"></include>
	  <![CDATA[
	  )) where rn > (#{pageNum}-1)*#{amount}
	  ]]>	
                                                                   
	  </select>
	  
	  <select id="getTotalCount" resultType="long">
	  <![CDATA[select count(*) from tbl_board where bno>0]]>
	  <include refid="criteria"></include>
	  </select>
	  
	  
	  
	  
  </mapper>