<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.sob.mapper.MainMapper">
  <!-- 이하 수정 중 -->
	  <select id="getList" resultType="org.sob.domain.MainVO"><!-- 내가 포함된 유리병 목록 불러오기 -->	
	  <![CDATA[select * from 테이블명 where to = #{userid} or from = #{userid} group by groupId order by #{latterId}]]><!-- id부분 변경해야함. -->	
	  </select>
	  
	  <insert id="insert"><!-- 새글 등록 -->
	  	insert into 테이블명 (from, to, cnt, groupId, contents,letterId,categoriId, boast) values(#{from}, #{to},#{cnt},#{groupId},#{contents},#{letterId},#{categoriId},#{boast})
	  </insert>
	  
	  <select id="read" resultType="org.sob.domain.MainVO"><!-- 내가 받은 편지 상세보기 -->
	  	select * from 테이블명 where groupId = #{groupId} order by cnt
	  </select>
	  
	  <delete id="delete">
	  	delete from 테이블명 where groupId = #{groupId}
	  
	  </delete>
	  
	  <select id="getListWithPaging" resultType="org.sob.domain.MainVO">
	 
	  <![CDATA[ select bno,title,writer,regdate,updatedate 
	  from (select rownum rn,bno,title,writer,regdate,updatedate 
	  from (select * from(select*from tbl_board order by bno desc)  
	  where ROWNUM<=#{pageNum}*#{amount}
	  ]]>	
	  <include refid="criteria"></include>
	  <![CDATA[
	  )) where rn > (#{pageNum}-1)*#{amount}
	  ]]>	
                                                                   
	  </select>
	  
	  <select id="getTotalCount" resultType="long">
	  <![CDATA[select count(*) from tbl_board where bno>0]]>
	  <include refid="criteria"></include>
	  </select>
	  
	  
	  
	  
  </mapper>